@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-3 fw-bold text-primary">Test Azure with <span class="text-success">ITStep</span> 🚀</h1>
        <p class="lead mt-4">You’ve successfully deployed your ASP.NET Core project to an <strong>Azure SQL Database</strong>.</p>

        <a class="btn btn-outline-dark btn-lg mt-3" href="https://portal.azure.com" target="_blank">
            🔗 Go to Azure Portal | Local Portal ?
        </a>

        <br />

        <a class="btn btn-outline-primary btn-lg mt-3" href="/Students">
            📚 View Students
        </a>
    </div>
</div>

<!-- Добавлено вручную для проверки коммита -->